import styles from "./{{dashCase name}}.module.css";

type Props = {
  
};

const {{titleCase name}} = ({}: Props) => {
  return (
    <div className={styles.container}></div>
  );
};

export default {{titleCase name}};